Source: progressive-flow
Package: progressive-flow
Version: 1.0.1
Section: utils
Architecture: all
Priority: optional
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.0
Maintainer: Vincent Legnani <vincent.legnani.biz@gmail.com>
Homepage: https://github.com/vin100proflow/progressive-flow
