Source: progressive-flow
Section: utils
Priority: optional
Maintainer: Vincent Legnani <vincent.legnani.biz@gmail.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/VincentLegnani/progressive-flow

Package: progressive-flow
Architecture: all
Depends: git
Description: Progressive Flow - A modern Git workflow paradigm.
 Progressive Flow introduces a structured and flexible approach to managing software releases,
 offering a better alternative to Git Flow.
